<h1>Listing movies</h1>
<table>
  <tbody>
  <div class="row">
  <% @movies.each do |movie| %>
            <div class="col-md-6">
                <div><%= link_to image_tag(movie.cover.url(:medium)), url_for(controller: 'movies', action: 'show', id: movie) %></div>
                <h4><%= movie.title %></h4>
            </div>
  <% end %>
  </div>
  </tbody>
</table>
